<h1>{{title}}</h1>
<ul >
    <li *ngFor="let item of user">
userid: {{item.userId}}<br> id: {{item.id}}<br> title: {{item.title}}<br> body: {{item.body}}
    </li>
</ul>

<h1>POST API</h1>
 <form #userForm="ngForm" (ngSubmit)="getFormUserData(userForm.value)">
    <input type="text" ngModel placeholder="firstname" name="FirstName">
<br>
<input type="text" ngModel placeholder="LastName" name="LastName">
<br>
<input type="text" ngModel placeholder="telephone" name="Telephone">
<br>
<input type="text" ngModel placeholder="address" name="Address">
<br>
<input type="text" ngModel placeholder="city" name="City">
<br>
<input type="text" ngModel placeholder="state" name="State">
<br>
<input type="text" ngModel placeholder="zip" name="Zip">
<br>
<input type="text" ngModel placeholder="email" name="Email">
<br>
<input type="text" ngModel placeholder="member" name="MemberShip">
<br>

<input type="text" ngModel placeholder="customerid" name="CustomerId">
<br>
<input type="text" ngModel placeholder="company" name="Company">
<br>

<button>submit</button>
</form>


